/* 下線出現ボタン */
.underline {
    position: relative;

    /* カーソル */
    cursor: pointer;
    cursor: hand;
}

/* 下線出現ボタン 疑似要素 */
.underline::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -2px;
    left: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

/* 下線出現ボタン ホバー時 */
.underline:hover::after {
    width: 100%;
}