header {
    text-align: center;
}

.test1 {
    height: 20%;
    font-size: large;
}

.test2 {
    height: 20%;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.test3 {
    height: 20%;
    font-size: large;
    font-style: italic;
}

.test4 {
    height: 20%;
    font-size: large;
    color: rebeccapurple;
}

footer {
    text-align: center;
}